* {
  font-family: dana;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.bgc-dark {
  background-color: #000000;
}

.text-orange {
  color: hsl(14.5, 95.2%, 59%);
}

.bg-gray {
  background-color: #f6f5f4;
}